In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

Q1. Pandas version
What's the version of Pandas that you installed?

In [2]:
print(pd.__version__)

2.3.1

Getting the data
For this homework, we'll use the Car Fuel Efficiency dataset. Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q2. Records count
How many records are in the dataset?

ANSWER: 9704

In [4]:
num_rows = len(df)
num_rows

9704

Q3. Fuel types
How many fuel types are presented in the dataset?

ANSWER: 2

In [5]:
fuel_type = df.fuel_type.unique()
print(fuel_type)

['Gasoline' 'Diesel']

Q4. Missing values
How many columns in the dataset have missing values?

ANSWER: 4

In [6]:
columns_missing_values = df.isnull().sum()
columns_missing_values

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

ANSWER: 23.75

In [7]:
max_asia_fuel_efficiency = df[df.origin == 'Asia'].fuel_efficiency_mpg.max()
max_asia_fuel_efficiency

np.float64(23.759122836520497)

Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

ANSWER: Has it changed? NO.

In [8]:
median_horsepower = df.horsepower.median()
mode_horsepower = df.horsepower.mode()
df.horsepower = df.horsepower.fillna(mode_horsepower)

median_horsepower_filled = df.horsepower.median()

print('Median horsepower with NAs: ', median_horsepower)
print('Median horsepower with NAs filled: ', median_horsepower_filled)

Median horsepower with NAs:  149.0
Median horsepower with NAs filled:  149.0

Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

ANSWER: 0.51

In [9]:
asian_cars = df[df.origin == 'Asia']
asian_cars = asian_cars[['vehicle_weight', 'model_year']]

X = np.array(asian_cars.head(7))
XTX = X.T.dot(X)

XTX_inverse = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [10]:
print(X.shape)
print(XTX.shape)
print(XTX_inverse.shape)
print(y.shape)

(7, 2)
(2, 2)
(2, 2)
(7,)

In [13]:
w = XTX_inverse.dot(X.T).dot(y)

In [14]:
np.sum(w)

np.float64(0.5187709081074016)